.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.sas7bdat

# Orderly will store data in a sqlite database, by default orderly.sqlite
*.sqlite

draft
data
archive
global
depends/
.orderly/
backup/
metadata/
README.html

src/fit_fsw-logit-sae/everpaidforsex-bycountry.csv
src/fit_fsw-logit-sae/recentpaidforsex-bycountry.csv

.DS_Store
