.Rproj.user
.Rhistory
.RData
.Ruserdata
*.sas7bdat

# Orderly will store data in a sqlite database, by default orderly.sqlite
*.sqlite

draft
data
archive
global
depends/
.orderly/
backup/
metadata/
README.html

src/fit_fsw-logit-sae/everpaidforsex-bycountry.csv
src/fit_fsw-logit-sae/recentpaidforsex-bycountry.csv

.DS_Store
src/aaa_fit_multi-sexbehav-sae/bdi_areas.geojson
src/aaa_fit_multi-sexbehav-sae_men/bdi_areas.geojson
src/bdi_survey_behav/bdi_areas.geojson
src/bdi_survey_behav_men/bdi_areas.geojson
src/ken_survey_phia/.Rapp.history
src/mli_survey_behav/mli_areas.geojson
src/mli_survey_behav_men/mli_areas.geojson
src/moz_survey_phia/insida2021adultind.csv
src/process_age-disagg-fsw/fsw_country_retired.csv
src/process_age-disagg-fsw/fsw_ntl_pse_retired.csv
src/process_age-disagg-fsw/kplhiv_art.rds
src/process_age-disagg-fsw/pse_admin1.csv
src/process_age-disagg-fsw/wpp2019_denom.rds
src/process_age-disagg-msm/kplhiv_art.rds
src/process_age-disagg-msm/pse_admin1.csv
src/process_age-disagg-msm/wpp2019_denom_m.rds
src/process_age-disagg-pwid/kplhiv_art.rds
src/process_age-disagg-pwid/wpp2019_denom_m.rds
src/process_age-disagg-pwid/pse_admin1.csv
src/process_all-data/naomi_extract.xlsx
src/process_all-data/~$naomi_extract.xlsx
src/process_all-data_men/bdi_areas.geojson
src/process_all-data_men/naomi_extract.xlsx
src/process_all-data/bdi_areas.geojson
src/process_caf/naomi_extract.xlsx
src/process_incidence_men/kplhiv_art.rds
src/process_moz/naomi_extract.xlsx
src/process_prevalence/kplhiv_art.rds
src/process_prevalence/logit_admin1_prev.csv
src/process_prevalence_men/kplhiv_art.rds
src/process_prevalence_men/logit_admin1_prev.csv
src/process_remove_moz/naomi_extract.xlsx
src/plot_available-surveys_men/countries_codes_and_coordinates.csv
src/plot_available-surveys_men/STATcompilerExport2021127_12313.xlsx
src/process_prevalence_men/~$Draft outline of size estimation approach v4.xlsx
